<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.Properties.Settings>
        <Culture></Culture>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <ShowInTaskbar>True</ShowInTaskbar>
        <TopMost>False</TopMost>
        <CapturingInterval>50</CapturingInterval>
        <Settings>
          <Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ScaledVisible>true</ScaledVisible>
            <RelativeVisible>true</RelativeVisible>
            <DpiVisible>true</DpiVisible>
            <ScreenResolutionVisible>true</ScreenResolutionVisible>
            <PixelColorVisible>true</PixelColorVisible>
            <DarkMode>false</DarkMode>
            <MenuVisible>true</MenuVisible>
            <PositionLogVisible>false</PositionLogVisible>
            <Capturing>false</Capturing>
            <ShortcutKey>Back ShiftKey FinalMode H P X Control Alt</ShortcutKey>
            <FontFamilyName>Segoe UI</FontFamilyName>
            <FontSize>9</FontSize>
          </Settings>
        </Settings>
        <Opacity>1</Opacity>
      </Bluegrams.Application.CustomSettings>
      <Bluegrams.Application.UpdateCheckerBase>
        <SkipVersion>False</SkipVersion>
        <CheckedUpdate>0.0</CheckedUpdate>
      </Bluegrams.Application.UpdateCheckerBase>
    </Roaming>
    <PC_DESKTOP-6QFUTQN>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Width>-2147483648</Width>
        <Height>-2147483648</Height>
        <Left>1165</Left>
        <Top>793</Top>
        <WindowState>Normal</WindowState>
      </Bluegrams.Application.CustomSettings>
    </PC_DESKTOP-6QFUTQN>
  </userSettings>
</configuration>